

.navigation-bar{
    margin-left: 350px;
    margin-bottom: 0px;
}
/* .image-right-1{
    float: right;

}
.image-right-2{
    border-radius: 300px 0px 0px 300px;
    height: 90vh;
    width: 700px;
} */
.text-vettspace{
    margin-top: 150px;
    /* line-height: 170px; */
    margin-left: 100px; 
    text-transform: uppercase;
}
.active{
    margin-left: 40px;
}
.text-vettspace-2{
    margin-left: 100px;
}
/* .imag-2{
    background-image: url(../assets/happy-manager-leads-a-meeting-in-the-office-640x427.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.image{
    margin-left: 100px;
   
    /* color: darkblue; */
}
.card-11{
margin-left: 150px;
}
.card-13{
    margin-left: 30px;
}
.main-section{
    background-color:#0b064d;
}
.main-section-4{
    background-image: linear-gradient(purple,#0a1b3b)

}
.card-1{
    margin-top: 150px;
    background-color:#0b064d;
    border: 1px solid white;
}
.card-2{
    margin-top: 200px;
    font-size: 35px;
    margin-left: 90px;
}
.card-3{
    margin-left: 90px;
    
}
.card-4{
    margin-top: 170px;

}
.icons{
    color: #083079;
}
.card-5{
    margin-top: 150px;
    border: 5px solid #04286b;
   
}
.card-8{
    border: 5px solid #04286b;
}
.card-7{
    margin-left: 120px;
}
.card-9{
    border: 1px solid skyblue;
}
@media screen and (max-width: 1300px){
    .navigation-bar{
        margin-left: 200px;
    }
    .image{
        margin-left: 70px;

    }
    .card-11{
        margin-left: 0px;
        }
    
}
@media screen and (max-width: 1350px){
    .card-11{
        margin-left: 120px;
        }
        .card-13{
            margin-left: 30px;
        }
}
@media screen and (max-width: 1250px){
    .card-11{
        margin-left: 120px;
        }
        .card-13{
            margin-left: 70px;
        }
}
@media screen and (max-width: 990px){
    .navigation-bar{
        margin-left: 100px;
    }
    .card-2{
        margin-top: 200px;
        font-size: 35px;
        margin-left: 20px;
    }
    .card-3{
        margin-left: 20px;
        
    }
    .card-13{
        margin-left: 120px;
    }


 .card-10{
    margin-left: 0px;
 }
 .card-11{
    margin-left: 50px;
 }
 .card-7{
    margin-left: 0px;
 }
 /* .card-12{
    margin-left: 100px;
 } */

}
@media screen and (max-width: 1000px){
    .navigation-bar{
        margin-left: 0px;
    }
}
@media screen and (max-width: 890px){
    .navigation-bar{
        margin-left: 0px;
    }
    .card-11{
        margin-left: 0px;
     }
     .card-13{
        margin-left: 120px;
     }
     .card-5{
        margin-top: 50px;
        border: 5px solid #04286b;
       
    }

    .card-4{
        margin-top: 90px;
    
    }
    .card-1{
        margin-top: 100px;
        background-color:#0b064d;
        border: 1px solid white;
    }
    .card-2{
        margin-top: 90px;

    }
    .card-7{
        margin-left: 0px;
        
    }
    .active{
        margin-left: 10px;
    }
.image{
    margin-left: 180px;
}

}
@media screen and (max-width: 600px){
.card-7{
    margin-left: 0px;
}
.card-11{
    margin-left: 0px;
 }
 .card-11{
    margin-left: 0px;
 }
 .active{
    margin-left: 0px;
}
}
@media screen and (max-width: 610px){
    .card-11{
        margin-left: 0px;
     }
     .card-7{
        margin-left: 0px;
        display: flex;
    }
 

    .active{
        margin-left: 0px;
    }
    
}
@media screen and (max-width: 590px){
    .card-11{
        margin-left: 0px;
        display: flex;
     }
     .card-13{
        margin-left: 0px;
        display: flex;
     }
}

