

<!-- <input type="text" placeholder="Datepicker" bsDatepicker class="bg-info border-primary"> -->

<div class="main-section-4 bg-purple-900" style="height: 100vh;">

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <img src="../assets/vspace_vn_logo.jpg" alt="" class="w-3rem h-3rem">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 navigation-bar">
        <li class="nav-item">
          <a class="nav-link active mx-4 font-semibold text-pink-100 text-lg" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mx-4 font-semibold text-pink-100 text-lg" aria-current="page" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mx-4 font-semibold text-pink-100 text-lg" aria-current="page" href="#">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mx-4 font-semibold text-pink-100 text-lg" aria-current="page" href="#">Candidates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mx-4 font-semibold text-pink-100 text-lg" aria-current="page" href="#">Contact us</a>
        </li>

      </ul>

    </div>
  </div>
  <br>
</nav>

<!-- main-section -->

<div class="container-fluid">
  
  <div class="">
    <h1 class="text-white text-vettspace text-6xl">Vettspace
    </h1>
    <p class="text-white text-vettspace-2 font-medium fs-4 mt-4">Get veeted and get matched with your<br> ideal job on hire the perfect<br> candidate</p>
  </div>
  
  <button class="bg-pink-100 btn rounded-3 text-vettspace-2 text-purple-900 fw-medium mt-3">Jobs Seekers</button>
  <button class="bg-pink-100 btn rounded-3 mx-4 text-purple-900 fw-medium mt-3">Employees</button>
 
</div>
</div>
<div class="main-section">
<div class="container">
  <div class="row">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
      <div class="card-1 rounded-3">
        <img src="../assets/user-1.png" alt="" class="w-9rem h-8rem rounded-circle image mt-4">
       <p class="text-center mt-3 text-white font-bold fs-5 mb-0">UI/UX Designer</p>
       <p class=" text-center text-danger font-bold fs-5">Jon Doe</p>
       <p class="text-center text-white font-semibold mx-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis itaque quae optio necessitatibus,
         excepturi beatae explicabo neque officiis,
         Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Facilis itaque quae optio necessitatibus,
         excepturi beatae explicabo neque officiis,
         Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         <div class="d-flex flex-row mb-4">
          <button class="bg-pink-100 btn rounded-3 text-purple-900 mx-4 fw-medium mt-4">Download resume</button>
          <button class="bg-pink-100 btn rounded-3 text-purple-900 fw-medium mt-4">Veiw Profile</button>
        </div>
      </div>
 
    </div>
    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 ">
      <div class="">
        <p class="text-white card-2 fw-bold">Create Your Profile To get a dreame job</p>
        <p class="text-white card-3 fs-6 mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, molestias? Nesciunt quos veritatis molestias. Voluptate consectetur debitis aperiam consequuntur molestias nihil veritatis repellendus aut doloribus eum. Enim quibusdam voluptates vero.</p>
        <button class="bg-pink-100 btn rounded-3 card-3 text-purple-900 fw-medium mt-4">Create Profile</button>
        <button class="bg-pink-100 btn rounded-3 mx-4 text-purple-900 fw-medium mt-4">Uplad CV</button>
      </div>
    </div>
  </div>
</div>
<div class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="card-4">
          <p class="text-white fs-1 fw-bold">How to get your Dreame Job easily</p>
          <p class="text-white  fs-5 font-semibold mt-2 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
          <button class="bg-pink-100 btn rounded-3 card-3 text-purple-900 fw-medium">Register now</button>

        </div>
   
      </div>
      <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-7 card-6">
        <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 card-7">
        <div class="card card-5 bg-purple-200 rounded-5 w-12rem">
          <i class="fa fa-user-plus icons fs-2 mx-8 mt-7" aria-hidden="true"></i>
          <h2 class="text-center icons fw-bold fs-5 mt-2 mb-5">Register Your Account</h2>
        </div>
      </div>
      <!-- card-2 -->
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 mx-4">
        <div class="card card-5 bg-purple-200 rounded-5 w-12rem">
          <i class="fa fa-file icons fs-1 mx-7 mt-7" aria-hidden="true"></i>
          <h2 class="text-center icons fw-bold fs-5 mt-2 mb-5">Register Your Account</h2>
        </div>
       </div>
       <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 card-7 mt-5">
        <div class="card card-8 bg-purple-200 rounded-5 w-12rem">
          <i class="fa fa-file icons fs-1 mx-7 mt-7" aria-hidden="true"></i>
          <h2 class="text-center icons fw-bold fs-5 mt-2 mb-5">Register Your Account</h2>
        </div>
      </div>
      <!-- card-2 -->
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 mx-4 mt-5">
        <div class="card card-8 bg-purple-200 rounded-5 w-12rem">
          <i class="fa fa-hand icons fs-1 mx-7 mt-7" aria-hidden="true"></i>
          <h2 class="text-center icons fw-bold fs-5 mt-2 mb-5">Register Your Account</h2>
        </div>
       </div>


    </div>
      </div>

      <div class="container">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h1 class="text-white font-bold text-center mt-8">Choose Your Desire Category</h1>
          <div class="row mt-8 mx-4">
          <div class="bg-white shadow-2 w-13rem h-12rem card-9">
            <i class="fa fa-cog text-5xl bg-pink-100 text-danger-emphasis p-3 rounded mx-7 mt-4" aria-hidden="true"></i>
            <h4 class="text-center font-bold mt-3 text-blue-800 fs-5">Technical<br> Support</h4>
          </div>
          <!-- card-2 -->
          <div class="bg-white shadow-2 w-13rem h-12rem card-9">
            <i class="fa fa-graduation-cap text-5xl bg-gray-200 text-blue-800 p-3 rounded mx-7 mt-4" aria-hidden="true"></i>
            <h4 class="text-center font-bold mt-3 text-blue-800 fs-5">Technical<br> Support</h4>
          </div>
                    <!-- card-2 -->
                    <div class="bg-white shadow-2 w-13rem h-12rem card-9">
                      <i class="fa fa-home text-5xl bg-green-100 text-green-400 p-3 rounded mx-7 mt-4" aria-hidden="true"></i>
                      <h4 class="text-center font-bold mt-3 text-blue-800 fs-5">Technical<br> Support</h4>
                    </div>
                              <!-- card-2 -->
          <div class="bg-white shadow-2 w-13rem h-12rem card-9">
            <i class="fa fa-search text-5xl bg-bluegray-100 text-yellow-400 p-3 rounded mx-7 mt-4" aria-hidden="true"></i>
            <h4 class="text-center font-bold mt-3 text-blue-800 fs-5">Technical<br> Support</h4>
          </div>
                    <!-- card-2 -->
                    <div class="bg-white shadow-2 w-13rem h-12rem card-9">
                      <i class="fa fa-sun text-5xl bg-blue-100 text-blue-800 p-3 rounded mx-7 mt-4" aria-hidden="true"></i>
                      <h4 class="text-center font-bold mt-3 text-blue-800 fs-5">Technical<br> Support</h4>
                    </div>
                              <!-- card-2 -->
          <div class="bg-white shadow-2 w-13rem h-12rem card-9">
            <i class="fa fa-cogs text-5xl bg-blue-100 text-blue-800 p-3 rounded mx-7 mt-4" aria-hidden="true"></i>
            <h4 class="text-center font-bold mt-3 text-blue-800 fs-5">Technical<br> Support</h4>
          </div>
                    <!-- card-2 -->
                    <div class="bg-white shadow-2 w-13rem h-12rem card-9">
                      <i class="fa fa-hand-spock text-5xl bg-gray-200 text-black-50 p-3 rounded mx-7 mt-4" aria-hidden="true"></i>
                      <h4 class="text-center font-bold mt-3 text-blue-800 fs-5">Technical<br> Support</h4>
                    </div>
                              <!-- card-2 -->
          <div class="bg-white shadow-2 w-13rem h-12rem card-9">
            <i class="fa fa-bus text-5xl bg-gray-200 text-green-400 p-3 rounded mx-7 mt-4" aria-hidden="true"></i>
            <h4 class="text-center font-bold mt-3 text-blue-800 fs-5">Technical<br> Support</h4>
          </div>
                    <!-- card-2 -->
                    <div class="bg-white shadow-2 w-13rem h-12rem card-9">
                      <i class="fa fa-cutlery text-5xl bg-purple-200 text-purple-500 p-3 rounded mx-7 mt-4" aria-hidden="true"></i>
                      <h4 class="text-center font-bold mt-3 text-blue-800 fs-5">Technical<br> Support</h4>
                    </div>
                              <!-- card-2 -->
          <div class="bg-white shadow-2 w-13rem h-12rem card-9">
            <i class="fa fa-fire text-5xl bg-pink-200 text-red-300 p-3 rounded mx-7 mt-4" aria-hidden="true"></i>
            <h4 class="text-center font-bold mt-3 text-blue-800 fs-5">Technical<br> Support</h4>
          </div>
  
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


